@font-face {
    font-family: lazyDog;
    src: url(./fonts/lazy_dog.ttf);
  }
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background: #f7f3ea;
    font-family: "lazyDog";
    margin-bottom: -20px;
}

h1 {
    font-size: 51.5px;
    color: #BEA2CF;
    margin-bottom: 5px;
    margin-top: 30px;
}

h2 {
    padding-top: 5px;
}

h3 {
    font-size: 20px;
    color: #F48B48;
}

p {
    font-family: 'DM Sans', sans-serif;
    line-height: 5px;
    color:#F7F3EA;
}
/* 
.mainDiv{
    position:absolute;
    bottom:0;
    left: 0;
    right:0;
} */

.web-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #272730;
    justify-content:space-evenly;
    text-align: center;
}

.web-information {
    display: flex;
    flex-direction: column;
}

.white-cat, .ginger-cat{
    display: flex;
    align-items: flex-end;
  }

.white-cat {
  margin-right: -10px;
}

.ginger-cat {
    margin-left: -100px;
}




