@font-face {
    font-family: lazyDog;
    src: url(./fonts/lazy_dog.ttf);
  }
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background: #f7f3ea;
    font-family: "lazyDog";
}

h1 {
    font-size: 51.5px;
    color: #BEA2CF;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 30px;
}

h2 {
    padding-top: 5px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
    color: #F48B48;
}

p {
    font-family: 'DM Sans', sans-serif;
    line-height: 5px;
}

.white-logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.web-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

.web-information {
    flex-basis: 1000px ;
    align-items: right;
    justify-content: right;

}

.white-cat, .ginger-cat{
    display: flex;
    align-items: flex-end;
  }

.white-cat {
    padding-right: 50px;
}

.ginger-cat {
    padding-left: 60px;
}








